.recipe-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  width: 260px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.recipe-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.recipe-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 2px solid #ddd;
}

.recipe-details {
  padding: 12px;
  text-align: center;
}

.recipe-details h3 {
  margin: 0 0 6px;
  font-size: 1.1rem;
  font-weight: bold;
  color: #e06700;
  text-align: center;

  display: -webkit-box;
  
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe-details p {
  margin: 0;
  color: #2C3E50;
  font-size: 0.9rem;
  line-height: 1.3;
}

/* Three-dot menu */
.menu-container {
  position: absolute;
  right: -8px;
  top: 8px
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 5px;
  border-radius: 50px;
   font-weight: 900;

}

.menu-dropdown {
  position: absolute;
  top: 28px;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 100;
  min-width: 120px;
}
.menu-button:hover{
  background-color: rgb(226, 222, 222);
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 12px;
  font-size: 0.9rem;
  color: #676666;
  background: white;
  text-decoration: none;
  border: none;

  cursor: pointer;
  transition: background 0.2s ease;
}

.menu-item:hover {
  background: #f0f0f0;
}

.menu-item.delete {
  color: #d9534f;
}

.menu-item.save 


.menu-item.delete:hover {
  background: #ffe6e6;
}

/* Responsive Grid Layout */
@media screen and (max-width: 768px) {
  .recipe-card {
    width: 100%;
  }
}
